/*
Theme Name: Epignosis Wp Assesment
Theme URI: https://www.epignosishq.com
Author: developers@epignosishq.com 
Author URI: https://epignosishq.com
Description: Epignosis wp assesement theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: website
Text Domain: epignosishq-wp-website
*/

header{
	background: #fff;
	width: 100%;
	height: 5vh;
}

.jo-header {
  height: 80vh;
  margin-bottom: 30vh; 
  background: linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
    url('assets/img/how-can-we-help-you.jpg');
  background-size: cover;    
  background-position: center;
  background-repeat: no-repeat;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}



label {
      font-size: 0.8em;
     }





#footer-main{
  background: #e8ecef;
  color: white;
  font-size: 0.8rem;
  padding: 2.5rem 0;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #bec1c5!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #bec1c5!important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #bec1c5!important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   #bec1c5!important;
   
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #bec1c5!important;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #bec1c5!important;
}







@media (max-width: 768px) {

  header{
    height: 5vh;
  }

  .jo-header {
     height: 65vh;    
   }
    

    .card-img-top {
        height: 50vw;
    }

    #success_message p{
      font-size: 0.8em;
     }
     

     #contact p{
      font-size: 0.7em;
     }

}





@media (max-width: 576px) {

  header{   
   height: 4vh;
  }

  .jo-header {    
     height: 35h;      
   }    

   div.jo-header h2, div.jo-header h6{
     font-size:0.8rem!important;
   }

   #success_message p{
    font-size: 0.7em;
   }   

     #contact p{
      font-size: 0.7em;
     }

}